<div class="relative overflow-x-auto">
	<table
		class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
	>
		<thead
			class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
		>
			<tr>
				<th scope="col" class="px-6 py-3">
					ID
				</th>
				<th scope="col" class="px-6 py-3">
					Title
				</th>
				<th scope="col" class="px-6 py-3">
					Status
				</th>
				<th scope="col" class="px-6 py-3">Actions</th>
			</tr>
		</thead>
		<tbody>
			@for (task of tasks(); track task.id) {
			<tr
				class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200"
			>
				<th
					scope="row"
					class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
				>
					{{task.id}}
				</th>

				<td class="px-6 py-4">{{task.title}}</td>
				<td class="px-6 py-4">{{task.completed}}</td>
				<td class="px-6 py-4 flex gap-2">
					<a [routerLink]="['/tasks/edit/', task.id]">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="24"
							height="24"
							viewBox="0 0 24 24"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
							class="icon icon-tabler icons-tabler-outline icon-tabler-pencil"
						>
							<path stroke="none" d="M0 0h24v24H0z" fill="none" />
							<path
								d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4"
							/>
							<path d="M13.5 6.5l4 4" />
						</svg>
					</a>
					<a (click)="onDelete(task.id)">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="24"
							height="24"
							viewBox="0 0 24 24"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
							class="icon icon-tabler icons-tabler-outline icon-tabler-trash-x"
						>
							<path stroke="none" d="M0 0h24v24H0z" fill="none" />
							<path d="M4 7h16" />
							<path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
							<path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
							<path d="M10 12l4 4m0 -4l-4 4" />
						</svg>
					</a>
				</td>
			</tr>
			}
		</tbody>
	</table>
</div>
